.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	width: 100%;
}

.title {
	font-family: "Fira Code";
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	line-height: 84px;
	color: #fcfcfc;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
	width: 100%;
}

.schoolTitle {
	font-family: "Fira Code";
	font-style: normal;
	font-weight: 500;
	font-size: 44px;
	line-height: 58px;
	color: #fcfcfc;
}

.coursesList {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0 100px;
	gap: 60px;
	width: 100%;
}

.courseCard {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
	padding: 10px 0;
	width: 100%;
}

.nameAndDates {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: end;
	gap: 40px;
}

.name {
	font-family: "Fira Code";
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	/* line-height: 42px; */
	color: #fcfcfc;
}

.dates {
	font-family: "Fira Code";
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	/* line-height: 42px; */
	color: #9e9eaa;
}

.helpDescriptionTabulation {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px 30px;
	width: 100%;
	gap: 25px;
}

.description {
	font-family: "Fira Code";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #9e9eaa;
}

.whatWeLearnBlock {
	width: 100%;
	gap: 10px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
}

.whatWeLearnTitle {
	font-family: "Fira Code";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #fcfcfc;
}

.whatWeLearnList {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: start;
	gap: 10px;
	justify-content: start;
}